<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4">Peacekeeper</h1>
          <p class="lead">Today is <%= Time.now.strftime("%d %B, %Y") %></p>
        </div>
</div>

<div class="container-home">
    <div class="row">
      <div class="col-8">
        <div class="alert alert-danger" role="alert">
          <% if @user.comments != nil %>
          You have 
          <%= pluralize(@user.tasks.map{|t| t.comments.where('created_at >= ?', 24.hours.ago).count}.inject {|sum, x| sum + x}, 'comment') %> today.
          <hr>
          <p>
            <% @user.tasks.map {|t| t.comments}.flatten.each do |c| %>
              <i class="fas fa-check"></i> <%= c.content %> - commented by <%= User.find(c.user_id).nickname %><br>
            <% end %>
          <% end %>
        </div>
        <div class="alert alert-primary" role="alert">
            Check <%= pluralize(@tasks.select {|task| task.status == false}.count, "task") %>!
            <hr>
            <p>
              <% @tasks.each do |task| %>
                <% if task.status == false && task.claimer == nil%>
                <i class="fas fa-check"></i> <%= task.name %> - created <%= time_ago_in_words(task.created_at) + " ago" %><br>
                <% end %>
              <% end %>
            </p>
        </div>
        <div class="alert alert-info" role="alert">
          The Latest Post
          <hr>
          <% if @last_post %>
          <%= @last_post.content %> from <%= @last_post.user.nickname %>
          <% end %>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <% if @most_contributor_id != nil %>
            <div class="card-header home-contributor">Top Completer</div>
            <% if @most_contributor.image.attached? %>
              <%= image_tag(@most_contributor.image, height: '300') %> 
            <% else %>
                <%= image_tag "crazy-unicorn.jpg", height: '300' %>
            <% end %>
            <div class="card-body home-contributor-body">
              <br>  
                <h5 class="card-title">🥇 <%= @most_contributor.nickname %> 🥇</h5>
                <br>
                <p>Complete the tasks <%= @contribute_times %> times!</p>
            </div>
          <% else %>
            <div class="card home-contributor">
              <img src="crazy-unicorn.jpg" class="card-img-top"> 
            </div>
            <div class="card-body home-contributor-body">
                <h5 class="card-title">Happy Todo List!</h5>
                <br>
                <p><a href="/tasks" class="btn btn-outline-danger">I volunteer</a>
                </p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>








