
<div class="container-fluid full-screen-login">
<div class="content form-login text-center">
    <div class="login-main-text">
        <h1><i class="fas fa-dove"></i></h1>
        <h1>Peacekeeper</h1>
        <p>Stop arguing and start collaborating. Organize and manage all your tasks across your household. </p>
    </div>

    <%= form_for @user, url: login_path, method: :post do |f| %>
        <div class="form-group">
        <label for="exampleInputEmail1"></label></label>
        <%= f.text_field :email, class: "form-control", id: "exampleInputEmail1", placeholder: "Email"%>
        <label for="exampleInputPassword1"></label>
        <%= f.password_field :password, class: "form-control", id: "exampleInputPassword1", placeholder: "Password" %>
        </div>

        <%= f.submit "Login", class: "btn btn-primary btn-block" %>
    <% end %>
    
    <br>

    <div class="create_user_btn">
        <%= button_to "Create New User", new_user_path, method: "get", class: "btn btn-outline-light btn-sm" %>
    </div>

    <p class="mt-5 mb-3 copy">&copy; 2019</p>

</div>
</div>




