<h1>Peace Keeper</h1>

<%= form_for @user, url: login_path, method: :post do |f| %>
    <%= f.text_field :email, placeholder: "Your Email"%><br>

    <%= f.password_field :password, placeholder: "Your Password" %><br>

    <%= f.submit "Login" %>
<% end %>

<%= button_to "Create New User", new_user_path, method: "get" %>

