<%= form_for @task do |f| %>
  <div class="form-group">
    <div class="form-group">
        <%= f.label "name:" %>
        <%= f.text_field :name, placeholder: "Name your task", class: "form-control"   %><br>
    <div class="form-group">
        <%= f.label "description:" %>
        <%= f.text_area :description, placeholder: "Describe your task", class: "form-control"  %><br>
    </div>
        <%= f.label "deadline:" %> <br>
        <%= f.date_select(:deadline, :order => [:day, :month, :year]) %><br>
    </div>
    <div class="form-inline">
        <%= f.check_box :pinned, class: "form-check-input" %> <br>    
        <%= f.label "pinned", class: "form-check-label"%><br>
    </div>
    <br>
        <% if current_user.admin %>
            <div class="form-dropdown">
            <%= f.label "Assign Task:" %> <br>
            <%= f.collection_select :claimer, @users, :id, :nickname, :selected => current_user.id %>
            </div>
        <% end %>
    </div>

    <%= f.submit "Submit", class: "btn btn-success"%>
<% end %>




