


    <% @tasks.each do |task| %>
        <% status_button =  %>
        <div class="card">
            <div class="card-body">
            <h5 class="card-title"><%= task.name %></h5>
                <%= link_to task.name, task_path(task) %>
                <%# task.status_description %>
               
                <%= link_to task.status_description_button_image, toggle_status_path(task), method: :post %>

                <div class="inner"><%= button_to "Claimed", toggle_claim_get_path(task), class: "btn btn-light" %></div>
              
            </div>
        </div>
        
       
    <% end %>


\


<%= button_to "Create New Task", new_task_path, method: "get", class: "btn btn-primary"%>


