


    <% @tasks.each do |task| %>
        <% status_button =  %>
        <div class="card">
            <div class="card-body">
                <%= link_to task.name, task_path(task) %>
                <%# task.status_description %>
                <span style="display: inline;">
                
                <div class="inner"><%= button_to "Claim", toggle_claim_path(task), class: "btn btn-light" %></div>
                <div class="inner"><%= button_to task.status_description_button_text, toggle_status_path(task), class: "btn btn-light"  %></div>
                <div class="inner"><%= image_tag task.status_description_button_image, class: 'svg square' %></a></div>
                

                </span>
            </div>
        </div>
        
       
    <% end %>


<button class="btn"><i class="fa fa-home"></i></button>


<%= button_to "Create New Task", new_task_path, method: "get", class: "btn btn-primary"%>


