<a href ="/tasks"><i class="fas fa-arrow-left"></i>  Back to tasks</a>
<br>
    <br>
<h1> <%= @task.name %> </h1>

<strong>Description:</strong>  <%= @task.description %><br>
<% if @task.deadline < Time.now %>
    <span style="color: red;"><strong>Deadline: </strong><%= @task.deadline.strftime("%d %b, %Y") %></span><br>
<% else %>
    <strong>Deadline:</strong><%= @task.deadline.strftime("%d %b, %Y") %><br>
<% end %>
<strong>Created by:</strong> <%= @task.user.nickname %><br>
<% if @task.claimer != nil %> <strong>Claimed by:</strong> <%= User.find(@task.claimer).nickname %><br><% end %>
<% if @task.completer != nil %> <strong>Completed by:</strong> <%= User.find(@task.completer).nickname %><br><% end %>


<div class="card-body">
    <div class="row">
        <div >
        <%= button_to "Edit", edit_task_path, method: :get, class: "btn btn-outline-primary mr-2" %>
        </div>
        <div>
        <%= button_to "Delete Task", task_path, method: :delete, class: "btn btn-danger" %>
        </div>
    </div>
</div>

<br>

<div class="container-fluid bg-primary; border border-secondary; rounded" style="padding-top: 12px; padding-bottom: 10px;" >
    <h4>Comments:</h4>
    <div class="container-fluid bg-white; border border-secondary; rounded" style="padding-bottom: 20px;"  >
        <% @task.comments.each do |comment|%><br>
        <div class="container bg-secondary; rounded;" >
            <%= "#{comment.content} - #{comment.user.nickname}" %>  
            <% if comment.user_id == @user.id %>
                <%= button_to "delete", comment, method: :delete, form: {style: 'display:inline-block;'}, class: 'btn btn-outline-danger btn-sm' %><br>
            <% end %>
        </div>
        <% end %>
    </div>
    <br>
    <br>
    <%= render 'comments/form' %>


</div>