<h1> <%= @task.name %> </h1>

<%= @task.description %><br>
<%= @task.status %><br>
<%= @task.deadline %><br>
<%= @task.user.nickname %><br>
<%= @task.pinned %><br>
<%= @task.completer %><br>
<%= @task.claimer %><br>


