<h1> <%= @task.name %> </h1>

<%= @task.description %><br>
<%= @task.status %><br>
<%= @task.deadline %><br>
<%= @task.user.nickname %><br>
<%= @task.pinned %><br>
<%= @task.completer %><br>
<%= @task.claimer %><br>
<br>
----------------------------
<br>

<% @task.comments.each do |comment|%><br>
<%= "#{comment.content} - #{comment.user.nickname}" %><br>
<% end %>
<br>
<br>

<%= form_tag ({controller: 'comments', action: 'create', method: 'post'}) do %>
    <%= hidden_field_tag 'comment[task_id]', @task.id %><br> 
    <%= label_tag "Write you comment here:" %>
    <%= text_area_tag 'comment[content]' %><br> 
    <%= submit_tag "Create" %>
<% end %>
