

<%= form_for @user do |f| %>
<form>
  <div class="form-group">
    <div class="form-group">
        <%= f.label "Nickname" %><br>
        <%= f.text_field :nickname, placeholder: "Set your nickname", class: "form-control" %>
        <%= show_errors(@user, :nickname) %><br>
        <%= f.label "Email" %><br>
        <%= f.text_field :email, placeholder: "hello@peacekeeper.com", class: "form-control" %>
        <%= show_errors(@user, :email) %><br>
    </div>

    <div class="row">
        <div class="col">
            <%= f.label "Password" %><br>
            <%= f.password_field :password, placeholder: "Set your password", class: "form-control" %>
            <%= show_errors(@user, :password) %><br>
        </div>
        <div class="col">
            <%= f.label :password_confirmation %><br>
            <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: "form-control" %>
            <%= show_errors(@user, :password_confirmation) %><br>
        </div>
    </div>


    <div class="form-inline">
        <%= f.check_box :admin, class: "form-check-input"  %> <br>
        <%= f.label "Admininstrator", class: "form-check-label" %><br>
    </div>
    <br>
    <div class="form-group">
        <%= f.label "Choose your profile pic." %><br>
        <%= f.file_field :image, class: "form-control-file"  %><br>
    </div>
    
    <%= f.submit "Save", class: "btn btn-success" %>

<div>
<% end %>