<h2> <%=@user.nickname %></h2>

<% if @user.image.attached? %>
    <%= image_tag(@user.image, height: '200', class: 'rounded') %> 
<% else %>
    <%= image_tag "crazy-unicorn.jpg", height: '200' %>
<% end %>

<br>
<br>

Email: <%= @user.email %><br>
Nickname: <%= @user.nickname %><br>


<%= button_to "Edit", edit_user_path, method: :get, class: "btn btn-outline-primary" %>
<%= button_to "Delete your account", user_path, method: :delete, class: "btn btn-danger" %>
