<h1> <%=@user.nickname %>'s Profile </h1>

<% if image_tag(@user.image)%>
    <%= image_tag(@user.image, height: '300') %>  
<% else %>
    <%= image_tag "crazy-unicorn.jpg", height: '300' %>
<% end %>

<br>

Email: <%= @user.email %><br>
Nickname: <%= @user.nickname %><br>


<%= button_to "Edit", edit_user_path, method: :get %>
<%= button_to "Logout", logout_path, method: :post %>
<%= button_to "Delete your account", user_path, method: :delete %>
