<h1> <%=@user.nickname %>'s Profile </h1>

<p>
<%= image_tag(@user.image) %><br>

Email: <%= @user.email %><br>
Nickname: <%= @user.nickname %><br>
</p>

<%= button_to "Edit", edit_user_path, method: :get %>
<%= button_to "Logout", logout_path, method: :post %>
<%= button_to "Delete your account", user_path, method: :delete %>
