<div class="container main-content post-index">
    <div class="card mb-3 shadow-sm p-3 mb-5 bg-white rounded" style="max-width: 800px;">
        <div class="card-main-image">
            <%= image_tag "dice_main.png", class: "card-img-top", style: 'height: 50%; width: 50%;' %>
        </div>
        <div class="card-body">
            <h5 class="card-title">Dice Game</h5>
            <p class="card-text">                    
                <%= form_for @dice, url: dice_path, method: :post do |f| %>
                <div class="form-group">
                    <label for="dice-title">What's this round for?</label></label>
                    <%= f.text_field :title, class: "form-control", id: "dice-title" %>
                </div>
                <div class="form-group">
                    <label for="dice-num-of-players">Choose the number of players or options</label>
                    <%= f.number_field :num_of_players, class: "form-control", id: "dice-num-of-players"%>
                </div>

                <%= f.submit "Next", class: "btn btn-info" %>
                <% end %>
            </p>   
            <p class="card-text"><small class="text-muted">Hard to decide something? I can help!</small></p>
        </div>
    </div>
</div>
