<%= image_tag "dice-0.png" %> <br>
<h1>Dice Game</h1>

<hr>
<%= form_tag ({controller: "dices", action: "create_new", method: "post"}) do %>
    <%= label_tag "What's this round for?" %><br>
    <%= text_field_tag "dice[title]" %><br>
    <%= label_tag "Enter the number of players" %><br>
    <%= number_field_tag "dice[num_of_players]" %><br>
    <%= submit_tag "Next", class: "btn btn-primary" %>
<% end %>

