<div class="container main-content post-index">
    
    <h1>Check This Notes, Guys!</h1>
    <br>
    
    <div class="card-columns">
            <%= render 'form' %>
        <% @posts.each do |post| %>
        <div class="card text-center">
            <div class="card-body">
            <h5 class="card-text"><%= post.content %></h5>
            <p>from. <%= post.user.nickname %></p>
            </div>

            <div class="card-footer text-muted">
                <% if post.user = current_user %>
                    <%= link_to '<i class="fas fa-user-edit"></i>'.html_safe, edit_post_path(post) %>
                <% end %>
            <%= time_ago_in_words(post.updated_at) + " ago" %>
            </div>
        </div>
   
    <% end %>
    </div>
</div>