<div class="container main-content post-index">
    <div class="card-columns">
            <%= render 'form' %>

        <% @posts.each do |post| %>
        <div class="card text-center">
            <div class="card-body">
            <h5 class="card-text"><%= post.content %></h5>
            <p>from. <%= post.user.nickname %></p>
            </div>

            <div class="card-footer text-muted">
                    <% if post.user = current_user %>
                    <%= link_to "Edit", edit_post_path(post) %>
                    <%= button_to "Delete", post_path(post), method: "delete" %>
                <% end %>
            <%= time_ago_in_words(post.updated_at) + " ago" %>
            </div>
        </div>
   
    <% end %>
    </div>
</div>