<!DOCTYPE html>
<html>
  <head>
    <title>Project Peacekeeper</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if logged_in? %>
        <span>hello, <%= current_user.nickname %>  <%= current_user.id %></span>
        <%= link_to "Task", tasks_path, method: "get" %>
        <%= link_to "Post", posts_path, method: "get" %>
        <%= link_to "Logout", logout_path, method: "post" %>
        <%= link_to "My account", user_path(current_user.id) %>
      <% end %>
    </div>

    <% if flash[:errors] %>
      <% flash[:errors].each do |e| %>
        <p style="color: red"> <%= e %> </p>
      <% end %>
    <% end %>

   <hr>
    <%= yield %>
  </body>

</html>
